@model SupplierFormModel

<h4>SupplierFormModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       @Html.Partial("_SupplierForm", Model)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

