@model CarDealer.Web.Models.PartsViewModels.PartsFormModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PartsFormModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_PartsForm", Model)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

