@model CarDealer.Web.Models.PartsViewModels.PartsFormModel

<h4>PartsFormModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_PartsForm", Model)
    </div>
</div>


<div>
    <a asp-action="All">Back to List</a>
</div>

