@model CarDealer.Web.Models.CustomerViewModel.CustomerFormModel

<h4>CustomerFormModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_CustomerForm", Model)
    </div>
</div>

@{
    var routeValue = new Dictionary<string, string> { ["order"] = "ascending" };
}

<div>
    <a asp-action="All" asp-all-route-data=routeValue>Back to List</a>
</div>

